<h1 class="mt-4">Admin</h1>
<p class="lead mb-3">Welcome</p>
<a href="/auth/logout" class="btn btn-secondary">Logout</a>
<p class="activeSession">Current Active Sessions:
    <br>SessionID: <%= session.id =%>
    <br>UserID: <%= user.id =%></p> 